body {
  background-image:url(20180609_181504.jpg) ;
}

h1 {
  background-color: rgb(47, 255, 245);
  color: rgb(10, 0, 146);
  text-align: center;
  
p {
  
  font-family: verdana;
  font-size: 15px;
  
}
